<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>S3 FileUpload Portal</title>
</head>

<body>

  


  <div class="wrapper">
    <nav>
      <a class="links logo link-text" href="#">.</a>
      <div class="rightSection">
      <a class="selected links" href="h">Home</a>
      <a class="selected links" href="#">About Us</a>
    
      </div>
      </nav>

      
    <div class="box">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div style="color: rgb(0, 0, 0); margin-bottom: 20px">
      <h3>AWS S3 File Upload Portal using MEAN Stack</h3>


    </div>
    <div class="container" style="width:500px">


      <br />

      <form-upload></form-upload>

      <br />
      <br />
      <br />

      <list-upload></list-upload>
      <br>
      <br>

    </div>
  </div>

</body>

</html>