<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>S3 FileUpload Portal</title>
</head>

<body>

  


  <div class="wrapper">
    <nav>
      <a class="links logo link-text" href="#">.</a>
      <div class="rightSection">
      <a class="selected links" href="h">Home</a>
      <a class="selected links" href="#">About Us</a>
    
      </div>
      </nav>


    <div class="box">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>

    <div class="container" style="width:500px">


      <br />

      <form-upload></form-upload>

      <br />
      <br />
      <br />

      <list-upload></list-upload>
      <br>
      <br>
      

    </div>

  </div>

</body>
<article id="wrap">
  <h2>AWS S3 File Upload Portal using MEAN Stack <br>by Team SB</h2>
  <article id="lightings">

  </article>
</article>

</html>