
body{
    background-color: rgb(255, 255, 255);
    background-image: none;
}

.btn-danger{

    color: red; /* Text color */
 
background-color: white; /* Remove background color */
 
border: 2px solid red; /* Border thickness, line style, and color */
 
border-radius: 5px; /* Adds curve to border corners */
 
text-transform: uppercase; /* Make letters uppercase */
}

.link{
    background-color: white;
    color: white;
}